{{#results}}
    <div class="result">

        {{{titleRendered}}}

        <div class="excerpt">
            {{#hasThumb}}
                <a class="thumb {{thumbPos}}" href="{{url}}">
                    <img src="{{thumbUrl}}" alt="">
                </a>
            {{/hasThumb}}

            {{{excerpt}}}
        </div>

    </div>
{{/results}}
{{^results}}
    <div class="empty-result">
        {{{noResultsText}}}
    </div>
{{/results}}