{{#results}}
    <div class="result">

        <a class="title" href="{{url}}">
            <h3>{{{title}}}</h3>
        </a>

        {{#hasThumb}}
            <a class="thumb {{thumbPos}}" href="{{url}}">
                <img src="{{thumbUrl}}" alt="">
            </a>
        {{/hasThumb}}

        <div class="excerpt">{{{excerpt}}}</div>

    </div>
{{/results}}
{{^results}}
    <div class="empty-result">
        {{{noResultsText}}}
    </div>
{{/results}}