.tmc_sp_root {

    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ffffff;
    transition: 500ms all;
    z-index: 800;

    &:not( .is-active ){

        display: none !important;

    }

    @at-root .admin-bar & {

        padding-top: 4em;

    }

    .close-root {

        position: absolute;
        top: 1em;
        right: 1em;
        cursor: pointer;

    }

    .wrapper-inner {

        display: block;
        margin: auto;
        padding: 1.5em;
        max-width: 900px;
        width: 100%;
        background-color: white;

        .inputs-row {

            display: flex;
            justify-content: space-between;

            > div:first-child {

                width: 100%;
                margin-right: 2em;

            }

            > div:last-child {

            }

            .input-text {

                display: inline-block;
                border: none;
                border-radius: 0;
                background: #fff;
                outline: none;
                border-bottom: 4px solid gray;
                line-height: 20px;
                padding: 1em;
                font-size: 20px;

            }

            .input-button {

                line-height: 20px;
                padding: 1em;
                font-size: 20px;
                background-color: gray;

            }

        }

    }

}